@import "tailwindcss";

/* // hero section styles */
/* মোবাইল ডিভাইসের জন্য (যেমন 768px এর নিচে) */
@media (max-width: 568px) {
  .hero-section {
    background-image: url('/canva2.png');
  }
}

/* বড় ডিভাইসের জন্য (768px এর উপরে) */
@media (min-width: 569px) {
  .hero-section {
    background-image: url('/canva1.png');
  }
}


/* // CourseIntro Component Styles */
.tab-button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.tab-button.active {
  background: #2563eb; /* blue-600 */
  color: white;
  border-color: #2563eb;
}


/* promotional section styles */
.bg-image {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('/pic2/ca1.png');
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  width: 100%;
  display: flex;
  align-items: center;
}
.bg-image2 {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('/pic2/ca2.png');
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  width: 100%;
  display: flex;
  align-items: center;
}